body {
    font-family: sans-serif;
}

.main__key-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 35vh;
}


.main__table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}