.card {
    background-color: #eaecf0;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #9e9c9c;
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    height: 100px;
}

.card__stats {
    font-size: 1.2rem;
}