@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

:root {
    --border: 1px solid lightgray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 2em;
}

/* Containers */
.container {
    margin: 20px;
}

/* Table */
table {
    table-layout: fixed;
    border-collapse: collapse;
}

th:first-child {
    width: 30px;
}


td:first-child, td:nth-child(2) {
    text-align: left;
}

th, td {
    border-bottom: var(--border);
    padding: 5px 10px;
    padding: 0.5em;
}

td {
    text-align: right;
}

.propertyTable {
    margin: 20px 0px;
}

.pagination {
    width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-align: center;
    margin: 20px;
}
