@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

:root {
    --bg-color-dark: hsl(240, 6%, 10%);
    --bg-navbar: hsl(240, 12%, 6%);
    --bg-color: rgb(237, 235, 235);
    --color-primary: hsl(266, 79%, 56%); 
    /* gray */
    --gray-10: hsl(0, 0%, 11%);
    --border: 1px solid lightgray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color-dark);
}

h1,
p,
li,
label,
td,
th {
    color: rgb(234, 232, 232);
}

h1 {
    font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(234, 232, 232);
}
/* Table */
table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

th:first-child {
    width: 30px;
}

td:first-child, 
td:nth-child(2) {
    text-align: left;
}

th, 
td {
    border-bottom: var(--border);
    padding: 5px 10px;
    padding: 0.5em;
}


td:nth-child(6), 
td:nth-child(7), 
td:nth-child(8) {
    text-align: center;
}

li {
    font-size: 1.5em;
    list-style-type: none;
    color: white;
}

/* classes */
.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-navbar);
    position: sticky;
    top: 0px;
}

/* sidebar */
.nav-items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1em;
}

.text-white {
    color: rgb(234, 232, 232);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.profile {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Layout */
.wrapper {
    display: flex;
    gap: 50px;
}

.display {
    margin: 0 auto;
    margin-top: 20px;
}

.sidebar {
    flex: 2/3;
    padding: 30px;
    margin: 30px 30px;
    border-radius: 5px;
    background-color: var(--gray-10);
    width: 300px;
    height: 80vh;
    position: sticky;
    top: 90px;
}

/* containers */
.container {
    margin: 20px;
}

/* table */
.propertyTable {
    margin: 20px 0px;
}

.pagination {
    width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header */
.logo {
    text-align: center;
    color: var(--color-primary);
}

.summary {
    margin: 10px 0px;
}

.title {
    margin-bottom: 10px;
}

.highlight {
    color: var(--color-primary);
}

/* Statistics */
.stats {
    margin: 50px 0px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background-color: #25242B;
    border-radius: 5px;
}

.stat {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat__label {
    font-size: 1em;
}

.stat__value {
    font-family: open sans;
    font-weight: 700;
    color: var(--color-primary);
    font-size: 2.5em;
}

.stat__percent-change {
    font-weight: bold;
    color: greenyellow;
}

/* buttons */
.filter__button {
    font-family: "Lato";
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    color: white;
    background-color: #25242B;
    border: none;
    font-size: 1em;
    margin-bottom: 10px;
    cursor: pointer;
}

.active {
    border: 1px solid var(--color-primary);
}

.loader {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}