@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");

:root {
  /* Colors */
  --bg-color-dark: hsl(240, 6%, 10%);
  --bg-navbar: hsl(240, 12%, 6%);
  --bg-color: rgb(237, 235, 235);

  --color-primary: hsl(266, 43%, 48%);
  --color-primary-100: hsl(266, 43%, 100%);
  --color-primary-900: hsl(0, 0%, 100%);
  --gray-10: hsl(0, 0%, 11%);

  /* Font color */
  --font-color-base: #fefefe;
  --font-color-headings: var(--color-primary-100);

  /* Borders */
  --border-table: 1px solid hsla(266, 43%, 48%, 50%);
  --border-radius: 5px;

  /* Elements */
  --background-color: #eee;
  --background-elements: hsl(249, 9%, 15%);

  /* Sizes */
  --content-width: 1280px;
  --content-width-small: 640px;
  --content-width-medium: 768px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color-dark);
}

 p, li, label, td, th {
  color: var(--font-color-base);
}

@media screen and (min-width: 1080px) {
  .highlights p {
    line-height: 1.5rem;
  }
  
}

h1, h2, h3, h4, h5, h6 {

  color: var(--font-color-headings);
}

h1 {
  font-size: 2em;
}

li {
  font-size: 1.5em;
  list-style-type: none;
  color: white;
}

input[type=text],
input[type=number] {
  height: 30px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-dark);
  border: 1px solid var(--color-primary);
  color: #eee;
}

form .btn {
  height: 30px;
}

select {
  margin: 10px auto;
  padding: 10px;
  border: none;
  color: var(--font-color-base);
  border-radius: var(--border-radius);
  background-color: var(--background-elements);
  cursor: pointer;
}

select:hover {
  border: 2px solid var(--color-primary);
}


option {
  font-family: "Lato";
  font-weight: bold;
  background-color: var(--background-elements);
  color: var(--font-color-base);
  padding: 2px;
  margin: 2px;
}

/* Table */
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

th {
  text-align: center;
}

td {
  text-align: right;
}

th:first-child {
  text-align: center;
  width: 10px;
}

th:nth-child(2) {
  width: 300px;
}

td:first-child {
  text-align: left;
}

th,
td {
  border-bottom: var(--border-table);
  padding: 5px 10px;
  padding: 0.5em;
}

td:nth-child(6),
td:nth-child(7),
td:nth-child(8) {
  text-align: center;
}

/* Sections */

.container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  width: var(--content-width);
}

#top__section {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

/* classes */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-navbar);
  position: sticky;
  top: 0px;
}

/* sidebar */
.nav-items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1em;
}

.text-white {
  color: rgb(234, 232, 232);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.subheading {
  margin-bottom: 10px;
}

.profile {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Layout */

.sidebar {
  flex: 2/3;
  padding: 30px;
  margin: 30px 30px;
  border-radius: var(--border-radius);
  background-color: var(--gray-10);
  width: 300px;
  height: 80vh;
  position: sticky;
  top: 90px;
}

/* Table */
.propertyTable {
  margin: 20px 0px;
}

.pagination {
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__btn {
  color: var(--font-color-base);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination__icons {
  background-color: #eee;
  color: var(--color-primary);
  font-weight: 700;
}

/* Header */
.logo {
  text-align: center;
  color: var(--color-primary);
}

.highlights {
  margin: 10px 0px;
  line-height: 1.3em;
}

.title {
  margin-bottom: 30px;
}

.highlight {
  color: var(--color-primary);
}

.neighborhood__container {
  margin: 20px;
}

/* Statistics */
.stats {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.stat {
  height: 200px;
  width: 300px;
  display: flex;
  margin: 20px 50px 20px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--background-elements);
}

.stat__label {
  font-size: 1em;
}

.stat__value {
  font-family: open sans;
  font-weight: 700;
  color: var(--color-primary);
  font-size: 2.5em;
}

.stat__percent-change {
  font-weight: bold;
  color: greenyellow;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

/* Buttons */
.filter__button {
  font-family: "Lato";
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  gap: 10px;
  border: none;
  color: var(--font-color-base);
  border-radius: var(--border-radius);
  background-color: var(--background-elements);
  cursor: pointer;
}

.filter__button:hover {
  border: 2px solid var(--color-primary);
}

.btn {
  font-family: "Lato";
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  border: none;
  font-size: 1.2em;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--background-elements);
}

.btn:hover {
  border: 1px solid var(--color-primary);
}

.apartment__type-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination__btn {
  width: 150px;
  background-color: var(--background-elements);
  color: var(--font-color-base);
  font-size: 1em;
  padding: 5px;
  border: 1px solid var(--color-primary);
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.pagination__btn:hover {
  background-color: #fefefe;
  color: var(--color-primary);
  font-weight: 600;
}

.active {
  color: var(--color-primary-900);
  background-color: var(--color-primary);
  font-weight: 900;
}

.loader {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#search {
  margin-bottom: 20px;

}