.table {
    margin: 20px;
    background-color: #f8f9fa;
    color: #000;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
}

.table__header-title {
    color: #000;
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    border: 1px solid black;
}

td {
    background-color: #eaecf0;
    align-items: center;
    border: 1px solid black;
    text-align: center;
}

