.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home__panel, .home__filter, .home__apartmentList {
    overflow-y: auto;
}

.home__panel {
    display: flex;
    flex: 1;
}

.home__filter {
    flex-basis: 280px;
    padding: 2rem;
    background-color: var(--clr-grey-5);
}

.home__apartmentList {
    flex: 1;
    padding: 2rem 3rem;
}

